/* Variáveis de cor para light e dark mode */
:root {
  --primary-light: #ffffff; /* Fundo branco */
  --primary-dark: #101010; /* Fundo escuro */
  --text-light: #333333; /* Texto escuro para o light mode */
  --text-dark: #ffffff; /* Texto claro para o dark mode */
  --header-background-light: #f8f8f8;
  --button-background-light: #dbdbdb;
  --button-background-dark: #555;
  --button-text-light: white;
  --button-text-dark: white;
  --border-light: #e6e6e6;
  --border-dark: #969696;
}

/* Light Mode */
body.light {
  background-color: var(--primary-light);
  color: var(--text-light);
}

body.light .App-header {
  background-color: var(--header-background-light);
  color: var(--text-light);
}

body.light button {
  color: var(--button-text-light);
  fill: grey;
}

body.light button svg{
  fill: grey;
}

body.light button:hover {
  background-color: #bdc7d2;
}

/* Dark Mode */
body.dark {
  background-color: var(--primary-dark);
  color: var(--text-dark);
}

body.dark .App-header {
  color: var(--text-dark);
}

body.dark button {
  color: var(--button-text-dark);
  fill: whtie;
}

body.dark button:hover {
  background-color: #666;
}

.app {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 100vh;
}

.container-app{
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 75%;
}

.container-body{
  height: 100%;
  width: 100%;
}

.container-history{
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

body.light .header {
  color: var(--text-light);
}

/* Estilo para o header no modo escuro */
body.dark .header {
  background-color: var(--primary-dark);
  color: var(--text-dark);
  border-bottom: 2px solid var(--border-dark); /* Atualize a cor da borda para o modo escuro */
}

/* Estilo para o título no modo claro */
body.light .header-title {
  color: #035096; /* Azul no modo claro */
}

/* Estilo para o título no modo escuro */
body.dark .header-title {
  color: var(--text-dark); /* Texto claro no modo escuro */
}