video {
  border-radius: 15px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.container-video{
    position: relative; /* Garante que a legenda seja posicionada corretamente sobre o vídeo */
    padding: 20px;  
    width: 95%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-video {
  padding: 1.25rem;
  width: 95%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
