.camera{
    position: relative;
    width: 70%;   
    height: 75%;  
    border-radius: 15px; 
    overflow: hidden; 
    background-color: #f8f8f8; 
    margin-right: 20px; 
     -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    padding: 20px; 
}